* {
  padding: 0;
  margin: 0;
}

body {
  background: #f5f5fd !important;
}
.login-container {
  background-image: url("./assets/images/login-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.login-form {
  width: 350px;
  height: 650px;
}

.login-card {
  height: 500px;
  width: 500px;
}
.register-card {
  height: 500px;
  width: 800px;
}

.bg-main {
  background: #29344b !important;
  color: white !important;
}

.outline-main {
  border: 3px solid #29344b;
}
a {
  text-decoration: none !important;
  color: black !important;
}
